<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | PixelSoft Tasks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Pixel Tasks Management System" name="description" />
    <meta content="PixelSoft" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/back/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/back/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/back/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/back/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <!-- Toastr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    @RenderBody()

    <!-- JAVASCRIPT -->
    <script src="~/back/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/back/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/back/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/back/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/back/assets/libs/node-waves/waves.min.js"></script>

    <!-- Client-side validation scripts -->
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- App js -->
    <script src="~/back/assets/js/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
