<!doctype html>
<html lang="en">


<!-- Mirrored from themesbrand.com/skote-django/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 May 2021 15:06:43 GMT -->
<head>

    <meta charset="utf-8" />
    <title>Login | PixelSoft Tasks Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/back/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/back/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/back/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/back/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>
    @RenderBody()
    <!-- end account-pages -->
    <!-- JAVASCRIPT -->
    <script src="~/back/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/back/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/back/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/back/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/back/assets/libs/node-waves/waves.min.js"></script>

    <!-- App js -->
    <script src="~/back/assets/js/app.js"></script>
</body>

<!-- Mirrored from themesbrand.com/skote-django/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 May 2021 15:06:43 GMT -->
</html>
