<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"] | Pixel Tasks Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Pixel Tasks Management System" name="description" />
    <meta content="PixelSoft" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/back/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/back/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/back/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/back/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <!-- SweetAlert2 (local) -->
    <link href="~/back/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- Toastr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css" />

</head>