@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xl-4">
        <div class="card overflow-hidden">
            <div class="bg-primary bg-soft">
                <div class="row">
                    <div class="col-7">
                        <div class="text-primary p-3">
                            <h5 class="text-primary">Hello from Pixel Tasks Management System</h5>
                            <p>PixelSoft Dashboard</p>
                        </div>
                    </div>
                    <div class="col-5 align-self-end">
                        <img src="~/back/assets/images/profile-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->


